@font-face {
  font-family: "iconfont";
  /* Project id 2513303 */
  src: url('//at.alicdn.com/t/font_2513303_iah5ydjkc8n.woff2?t=1631026591937') format('woff2'),
    url('//at.alicdn.com/t/font_2513303_iah5ydjkc8n.woff?t=1631026591937') format('woff'),
    url('//at.alicdn.com/t/font_2513303_iah5ydjkc8n.ttf?t=1631026591937') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuozhuai:before {
  content: "\e636";
}

.icon-fuwenben:before {
  content: "\e602";
}

.icon-bargraph:before {
  content: "\e611";
}

.icon-tubiao:before {
  content: "\ea63";
}

.icon-form1:before {
  content: "\e601";
}

.icon-eye:before {
  content: "\e6c6";
}

.icon-password:before {
  content: "\e734";
}

.icon-zhanghao:before {
  content: "\e60d";
}

.icon-icon-test:before {
  content: "\e669";
}

.icon-icon-test1:before {
  content: "\e670";
}

.icon-hanbaocaidanzhedie:before {
  content: "\e62f";
}

.icon-dashboard:before {
  content: "\e618";
}

.icon-example:before {
  content: "\e62c";
}

.icon-nested:before {
  content: "\e612";
}

.icon-zhedie2:before {
  content: "\e620";
}

.icon-link:before {
  content: "\e623";
}

.icon-shouqi:before {
  content: "\e87f";
}

.icon-form:before {
  content: "\e600";
}
